<div class="w-full d-inline-flex">
  <h2 class="mb-4 mr-auto update-title">
    <span class="cursor-pointer" (click)="goBack()">&larr;&nbsp;</span>
    {{ "UPDATE" | translate }} {{ task!.title }}
  </h2>
</div>

<form [formGroup]="taskForm" (ngSubmit)="saveTask()" class="mb-4">
  <input type="hidden" formControlName="id" />
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="title" class="form-label"
          >* {{ "TITLE" | translate }}:</label
        >
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
          required
          autofocus
          [ngClass]="{ 'is-invalid': f['title'].touched && f['title'].invalid }"
        />
        <div
          *ngIf="f['title'].touched && f['title'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['title'].errors?.['required']">
            {{ "TITLE_REQUIRED" | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label"
          >* {{ "STATUS" | translate }}:</label
        >
        <select
          id="status"
          class="form-select"
          formControlName="status"
          required
          [ngClass]="{
            'is-invalid': f['status'].touched && f['status'].invalid
          }"
        >
          <option
            *ngFor="let status of taskStatuses$ | async"
            [value]="status.value"
          >
            {{ status.label }}
          </option>
        </select>
        <div
          *ngIf="f['status'].touched && f['status'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['status'].errors?.['required']">
            {{ "STATUS_REQUIRED" | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dueDate" class="form-label"
          >* {{ "DUE" | translate }}:</label
        >
        <input
          type="date"
          id="dueDate"
          class="form-control"
          formControlName="dueDate"
          [min]="minDate"
          required
          [ngClass]="{
            'is-invalid': f['dueDate'].touched && f['dueDate'].invalid
          }"
        />
        <div
          *ngIf="f['dueDate'].touched && f['dueDate'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['dueDate'].errors?.['required']">
            {{ "DUE_DATE_REQUIRED" | translate }}
          </div>
          <div *ngIf="f['dueDate'].errors?.['dateInvalid']">
            {{ "DATE_MUST_BE_TODAY_OR_LATER" | translate }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label"
          >* {{ "PRIORITY" | translate }}:</label
        >
        <select
          id="priority"
          class="form-select"
          formControlName="priority"
          required
          [ngClass]="{
            'is-invalid': f['priority'].touched && f['priority'].invalid
          }"
        >
          <option
            *ngFor="let priority of taskPriorities$ | async"
            [value]="priority.value"
          >
            {{ priority.label }}
          </option>
        </select>
        <div
          *ngIf="f['priority'].touched && f['priority'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['priority'].errors?.['required']">
            {{ "PRIORITY_REQUIRED" | translate }}
          </div>
        </div>
      </div>
      <label for="assignedTo" class="form-label"
        >* {{ "ASSIGN_TO" | translate }}:</label
      >
      <div
        class="mb-3 assignToDiv border rounded p-3"
        [ngClass]="{
          'is-invalid': f['assignedTo'].touched && f['assignedTo'].invalid
        }"
      >
        <div style="max-height: 200px; overflow-y: auto">
          <div *ngFor="let user of allUsers$ | async" class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [value]="user.username"
              [checked]="isAssigned(user.username)"
              (change)="toggleAssignedTo(user.username)"
              id="user{{ user.id }}"
            />
            <label
              class="form-check-label text-primary"
              for="user{{ user.id }}"
            >
              {{ "@" + user.username }} </label
            >:
            <span
              *ngIf="user.role === 'projectManager'"
              class="text-muted float-end"
              >{{ "PM" | translate }}</span
            >
            <span
              *ngIf="user.role === 'teamLead'"
              class="text-muted float-end"
              >{{ "TL" | translate }}</span
            >
            <span
              *ngIf="user.role === 'developer'"
              class="text-muted float-end"
              >{{ "DEV" | translate }}</span
            >
          </div>
        </div>
        <div
          *ngIf="f['assignedTo'].touched && f['assignedTo'].invalid"
          class="invalid-feedback"
        >
          <div *ngIf="f['assignedTo'].errors?.['required']">
            {{ "ASSIGN_TO_REQUIRED" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="description" class="form-label"
          >{{ "DESCR" | translate }}:</label
        >
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div class="d-flex align-items-end justify-content-end">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="taskForm.invalid"
      >
        {{ "UP_TASK" | translate }}
      </button>
    </div>
  </div>
</form>
