<div class="container-fluid">
  <ng-container *ngIf="hasTasks$ | async; else noTasks">
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <h3 class="card-header text-center">{{ "T_S_D" | translate }}</h3>
          <div class="card-body">
            <div class="chart-container">
              <app-status-distribution
                idChart="status-distribution"
                [tasks$]="tasks$"
              ></app-status-distribution>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <h3 class="card-header text-center">{{ "T_P_D" | translate }}</h3>
          <div class="card-body">
            <div class="chart-container">
              <app-priority-distribution
                idChart="priority-distribution"
                [tasks$]="tasks$"
              ></app-priority-distribution>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <h3 class="card-header text-center">{{ "T_A_T_M" | translate }}</h3>
          <div class="card-body">
            <div class="chart-container">
              <app-task-assignments
                idChart="task-assignment"
                [tasks$]="tasks$"
              ></app-task-assignments>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <h3 class="card-header text-center">{{ "T_LIST" | translate }}</h3>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{{ "T_ID" | translate }}</th>
                    <th>{{ "BY" | translate }}</th>
                    <th>{{ "TITLE" | translate }}</th>
                    <th>{{ "STATUS" | translate }}</th>
                    <th>{{ "PRIORITY" | translate }}</th>
                    <th>{{ "ASSIGNED_TO" | translate }}</th>
                    <th>{{ "CREATED" | translate }}</th>
                    <th>{{ "DUE" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks$ | async">
                    <td>{{ task.id }}</td>
                    <td>{{ task.username }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.assignedTo.join(", ") }}</td>
                    <td>{{ task.createdDate | date }}</td>
                    <td>{{ task.dueDate | date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noTasks>
    <div class="row mt-4">
      <div class="col">
        <p class="text-center">{{ "NO_TASKS" | translate }}</p>
      </div>
    </div>
  </ng-template>
</div>
