<div class="container mt-4">
    <h3 class="mb-4"><span class="cursor-pointer" (click)="goBack()">&larr;&nbsp;</span>{{ 'COMM_MENT' | translate }}</h3>
    <ng-container *ngIf="mentionedComments$ | async as mentionedComments; else noMentions">
      <div class="list-group">
        <a *ngFor="let comment of mentionedComments" (click)="openTask(comment.taskId)" class="list-group-item list-group-item-action cursor-pointer padbox">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ comment.taskTitle }}</h5>
            <span><small class="text-primary">{{ comment.username | formatUsername }}</small> <small class="text-muted"> {{ 'MENT_U' | translate }}</small></span>
          </div>
          <p class="mb-1">"<i class="text-muted" [innerHTML]="comment.commentBody | highlightMentions"></i>"</p>
        </a>
      </div>
    </ng-container>
    
    <ng-template #noMentions>
      <p class="text-center">{{ 'NO_MENT' | translate }}</p>
    </ng-template>
  </div>
  