<li class="list-group-item li-item p-0 col-md-4 w-full mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body padding-box">
        <div class="d-flex align-items-center">
          <div class="mr-auto padding-three">
            <a class="link-open" (click)="onOpenTask(task.id)">
              <span
                class="task-title fw-medium"
                [innerHTML]="task.title"
              ></span>
            </a>
            <span class="text-muted d-block">
              - {{ "BY" | translate }}
              <span class="text-primary">{{
                task.username! | formatUsername
              }}</span></span
            >
          </div>
          <i
            class="bi bi-pencil btn-list btn-edit"
            (click)="onEditTask(task.id)"
          ></i>
          <app-task-delete
            class="mt-11"
            [taskId]="task.id"
            [taskTitle]="task.title"
          ></app-task-delete>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label
              ><span class="fw-medium">{{ "STATUS" | translate }}:</span></label
            >
            <div class="d-flex align-items-center">
              <div
                class="status-circle"
                [ngClass]="{
                  'status-circle-pending': task.status === 'pending',
                  'status-circle-doing': task.status === 'doing',
                  'status-circle-reviewing': task.status === 'reviewing',
                  'status-circle-completed': task.status === 'completed'
                }"
              ></div>
              <span>{{
                task.status | translateEnum : "status" | capitalizeFirstLetter
              }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <label
              ><span class="fw-medium"
                >{{ "PRIORITY" | translate }}:</span
              ></label
            >
            <div class="d-flex align-items-center">
              <div
                class="status-circle"
                [ngClass]="{
                  'status-circle-low': task.priority === 'low',
                  'status-circle-medium': task.priority === 'medium',
                  'status-circle-high': task.priority === 'high'
                }"
              ></div>
              <span>{{
                task.priority
                  | translateEnum : "priority"
                  | capitalizeFirstLetter
              }}</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <label
              ><span class="fw-medium">{{ "DUE" | translate }}:</span></label
            >
            <div class="d-flex align-items-center">
              <span>{{ task.dueDate }}</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="d-flex align-items-center">
              <span *ngIf="task.assignedTo && task.assignedTo.length > 0">
                <span class="fw-medium">{{ "ASSIGNED_TO" | translate }}:</span>
                <span class="text-primary">
                  {{ task.assignedTo[0] | formatUsername }}
                </span>
                <span *ngIf="task.assignedTo.length > 1"
                  >{{ "AND" | translate }} {{ task.assignedTo.length - 1 }}
                  {{ "MORE" | translate }}</span
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
