<div class="input-group mb-3" *ngIf="viewMode === 'task-component'">
	<div class="btn-group border-color">
		<div class="dropdown">
			<button
				class="btn btn-link dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				👁 Status
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showPending()"
						>Show Pending</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showDoing()"
						>Show Doing</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showReviewing()"
						>Show Reviewing</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showCompleted()"
						>Show Completed</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showAll()">Show All</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="btn-group border-color">
		<div class="dropdown">
			<button
				class="btn btn-link dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				👁 Priority
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showLow()"
						>Low Priority</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showMedium()"
						>Medium Priority</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showHigh()"
						>High Priority</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="showAll()">Show All</a>
				</li>
			</ul>
		</div>
	</div>
	<input
		type="text"
		class="form-control"
		id="basic-url"
		aria-describedby="basic-addon3"
		[(ngModel)]="searchTerm"
		(input)="searchTasks()"
		placeholder="⌕  Search tasks by title, description, creator username, or assigned usernames..."
	/>
	<div class="btn-group border-color">
		<div class="dropdown">
			<button
				class="btn btn-link dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				↑↓ Sort
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item cursor-pointer" (click)="sortTasks('title', true)"
						>Sort by Title ↑</a
					>
				</li>
				<li>
					<a class="dropdown-item cursor-pointer" (click)="sortTasks('title', false)"
						>Sort by Title ↓</a
					>
				</li>
				<li>
					<a
						class="dropdown-item cursor-pointer"
						(click)="sortTasks('dueDate', true)"
						>Sort by Due Date ↑</a
					>
				</li>
				<li>
					<a
						class="dropdown-item cursor-pointer"
						(click)="sortTasks('dueDate', false)"
						>Sort by Due Date ↓</a
					>
				</li>
				<li>
					<a
						class="dropdown-item cursor-pointer"
						(click)="sortTasks('createdDate', true)"
						>Sort by Created Date ↑</a
					>
				</li>
				<li>
					<a
						class="dropdown-item cursor-pointer"
						(click)="sortTasks('createdDate', false)"
						>Sort by Created Date ↓</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="btn-group border-color">
		<button class="btn btn-link" type="button" (click)="downloadCSV()">
			⬇️ Download CSV
		</button>
	</div>
</div>

<ul class="list-group">
	<ng-container *ngIf="tasks$ | async as tasks">
		<ng-container *ngIf="tasks.length !== 0; else noResults">
			<ng-container *ngIf="viewMode === 'task-component'">
				<div *ngFor="let task of tasks">
					<app-task-item-list
						[task]="task"
						(openTask)="openTask($event)"
						(editTask)="goToTaskUpdate($event)"
						(deleteTask)="deleteTask($event.id, $event.title)"
					></app-task-item-list>
				</div>
			</ng-container>

			<ng-container *ngIf="viewMode === 'list'">
				<div *ngFor="let task of tasks">
					<app-task-item-list
						[task]="task"
						(openTask)="openTask($event)"
						(editTask)="goToTaskUpdate($event)"
						(deleteTask)="deleteTask($event.id, $event.title)"
					></app-task-item-list>
				</div>
			</ng-container>

			<ng-container *ngIf="viewMode === 'grid'">
				<div class="row">
					<div class="col-md-4" *ngFor="let task of tasks">
						<app-task-item-grid
							[task]="task"
							(openTask)="openTask($event)"
							(editTask)="goToTaskUpdate($event)"
							(deleteTask)="deleteTask($event.id, $event.title)"
						></app-task-item-grid>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="viewMode === 'calendar'">
				<app-task-item-calendar
					[tasks]="tasks"
					(openTask)="openTask($event)"
				></app-task-item-calendar>
			</ng-container>

			<ng-container *ngIf="viewMode === 'board'">
				<app-task-item-board (openTask)="openTask($event)"></app-task-item-board>
			</ng-container>
		</ng-container>

		<ng-template #noResults>
			<p class="text-center my-5">No tasks found.</p>
		</ng-template>
	</ng-container>
</ul>
